<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">

                <div class='stage'>
    
                    <div class='stage_inner'>
                      <div class='stage_inner__logo'>
                        CLE
                        <span>MENCY</span>
                      </div>
                      <div class='stage_inner__menu'>
                      <a href="/">
						              <div class='menu'>
                            <div class='menu_part'></div>
                            <div class='menu_part'></div>
                            <div class='menu_part'></div>
                          </div>
					            </a>
                      </div>
                    </div>
                  </div>
                      <div class='stage_inner__footer'>
                        <i class='fab fa-facebook'></i>
                        <i class='fab fa-twitter'></i>
                        <i class='fab fa-instagram'></i>
                        <div class='f'>
                          <input placeholder='Your question'>
                        </div>
                      </div>

            </div>
        </div>
    </div>
</div>