<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <div class="stage">
          <input id="trigger" type="checkbox" />
          <div class="stage_bg"></div>
          <div class="stage_inner">
            <div class="stage_inner__logo">
              CLE
              <span>MENCY</span>
            </div>
            <div class="stage_inner__menu">
              <a href="/">
                <div class="menu">
                  <div class="menu_part"></div>
                  <div class="menu_part"></div>
                  <div class="menu_part"></div>
                </div>
              </a>
            </div>
            <div class="stage_inner__footer">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <div class="f">
                <input placeholder="Your question" />
              </div>
            </div>
            <h5>CLEMENCY</h5>

            <div class="stage_inner__bottom"></div>
            <div class="stage_inner__list">
              <li>Contribution</li>
              <li>Charity</li>
              <li>Philanthropy</li>
              <li>Assistance</li>
            </div>
            <div class="stage_inner__centerbox">
              <div class="illustration"></div>
              <div class="arrow">
                <label for="trigger">
                  <i class="fas fa-arrow-right"></i>
                </label>
              </div>
              <div class="text">
                <div class="title">GIVE THE GIFT OF LIFE</div>
              </div>
            </div>
            <div class="stage_inner__right">
              <!-- LOGIN -->

              <div class="box-form">
                <div class="Login">
                  <div class="right">
                    <h6>Login</h6>
                    <p>
                      Don't have an account? <br />
                      <a href="#"
                        ><label for="trigger"> Create Your Account</label></a
                      >
                      it takes less than a minute
                    </p>
                    <div class="inputs">
                      <input type="text" placeholder="User name" />
                      <br />
                      <input type="password" placeholder="Password" />
                    </div>

                    <br /><br />

                    <div class="remember-me--forget-password">
                      <!-- Angular -->
                      <input
                        type="checkbox"
                        id="remember"
                        name="item"
                        checked
                      />
                      <label for="remember" class="arrow">
                        <span class="text-checkbox">Remember me</span>
                      </label>
                      <a href="#">forget password?</a>
                    </div>

                    <br />
                    <button><a href="home"> Login</a></button>
                  </div>
                </div>

                <!-- LOGIN -->

                <!-- SIGNIN -->

                <div class="Login">
                  <div class="left">
                    <h6>Sign Up</h6>
                    <p>Create New Account</p>
                    <div class="inputs">
                      <input type="text" placeholder="Email" />
                      <br />
                      <input type="password" placeholder="Password" />
                      <br />
                      <input type="password" placeholder="Confirm Password" />
                    </div>

                    <br /><br />

                    <div class="remember-me--forget-password">
                      <!-- Angular -->
                      <label class="arrow">
                        <input
                          type="checkbox"
                          id="remember"
                          name="item"
                          checked
                        />

                        <span class="text-checkbox">Remember me</span>
                      </label>
                      <a href="#">forget password?</a>
                    </div>

                    <br />
                    <button><a href="home"> Login</a></button>
                  </div>
                </div>
              </div>

              <!-- SIGNIN -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
