<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">

                
                       
<!-- card -->
<div class="card">

<figure class="image-block">
	<h1>Stephen Hawking</h1>
	<img src="https://media.vanityfair.com/photos/5aa971d3af40c861bd503008/2:3/w_511,h_767,c_limit/t-stephen-hawking-june-2004.jpg" alt="" />
	<figcaption>
		<h3>
			More Info
		</h3>
		<p>Hawking was diagnosed with Amyotrophic Lateral Sclerosis (ALS), commonly referred to in the U.S. as Lou Gehrig's disease. As ALS progresses, the degeneration of motor neurons in the brain interfere with messages to muscles in the body.</p>
		<button>
			<a href="payment">
			Donate</a>
		</button>
	</figcaption>
</figure>
<!-- card -->
<figure class="image-block">
	<h1>Stephen Hawking</h1>
	<img src="https://media.vanityfair.com/photos/5aa971d3af40c861bd503008/2:3/w_511,h_767,c_limit/t-stephen-hawking-june-2004.jpg" alt="" />
	<figcaption>
		<h3>
			More Info
		</h3>
		<p>Hawking was diagnosed with Amyotrophic Lateral Sclerosis (ALS), commonly referred to in the U.S. as Lou Gehrig's disease. As ALS progresses, the degeneration of motor neurons in the brain interfere with messages to muscles in the body.</p>
		<button>
			<a href="payment">
				Donate</a>
		</button>
	</figcaption>
</figure>
<!-- card -->
<figure class="image-block">
	<h1>Stephen Hawking</h1>
	<img src="https://media.vanityfair.com/photos/5aa971d3af40c861bd503008/2:3/w_511,h_767,c_limit/t-stephen-hawking-june-2004.jpg" alt="" />
	<figcaption>
		<h3>
			More Info
		</h3>
		<p>Hawking was diagnosed with Amyotrophic Lateral Sclerosis (ALS), commonly referred to in the U.S. as Lou Gehrig's disease. As ALS progresses, the degeneration of motor neurons in the brain interfere with messages to muscles in the body.</p>
		<button>
			<a href="payment">
				Donate</a>
		</button>
	</figcaption>
</figure>
<!-- card -->
<figure class="image-block">
	<h1>Stephen Hawking</h1>
	<img src="https://media.vanityfair.com/photos/5aa971d3af40c861bd503008/2:3/w_511,h_767,c_limit/t-stephen-hawking-june-2004.jpg" alt="" />
	<figcaption>
		<h3>
			More Info
		</h3>
		<p>Hawking was diagnosed with Amyotrophic Lateral Sclerosis (ALS), commonly referred to in the U.S. as Lou Gehrig's disease. As ALS progresses, the degeneration of motor neurons in the brain interfere with messages to muscles in the body.</p>
		<button>
			<a href="payment">
				Donate</a>
		</button>
	</figcaption>
</figure>
</div>
<!-- card -->



            </div>
        </div>
    </div>
</div>